<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title>Inicio iOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header>
    <ion-toolbar>
      <ion-title>Inicio Android</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-slides pager="true">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides> -->

  <ion-button type="submit" (click)="authService.SignOut();" expand="block">Salir</ion-button>

  
</ion-content>
