<!-- <ion-header collapse="condense">
  <ion-toolbar color="dark">
    <ion-title>Inicio iOS</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <!-- <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Inicio Android</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <section class="ion-text-center">
    <!-- <ion-icon name="person" class="font"></ion-icon> -->
    <img src="assets/img/logo/logo-full.svg" alt="Logo Full">
    <h1 class="ion-no-margin bolder">
      Bienvenido
    </h1>
    <h3 class="ion-no-margin lighter">Carlos Jeronimo</h3>
  </section>

  <ion-grid id="main-grid">
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center ion-no-margin" color="tertiary">
          <ion-card-header class="ion-no-padding ion-padding-vertical">
            <ion-icon name="cash-sharp"></ion-icon>
            <ion-card-title>Q 1000.00</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding ion-padding-vertical">
            Gastos Generales
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center ion-no-margin" color="tertiary">
          <ion-card-header class="ion-no-padding ion-padding-vertical">
            <ion-icon name="build-sharp"></ion-icon>
            <ion-card-title>0</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding ion-padding-vertical">
            Servicios Recibidos
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="registrarOrden()">
    Solicitar un Servicio
  </ion-button>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col><h2>Productos</h2></ion-col>
      <ion-col>
        <ion-button size="small" fill="clear" color="dark">
          Ver más
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner [hidden]="products"></ion-spinner>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let product of products">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{product.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Precio: Q.{{ product.price }}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col><h2>Servicios</h2></ion-col>
      <ion-col>
        <ion-button size="small" fill="clear" color="dark">
          Ver más
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner [hidden]="services"></ion-spinner>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let service of services">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{service.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Precio: Q.{{ service.price }}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col><h2>Mis Carros</h2></ion-col>
      <ion-col>
        <ion-button size="small" fill="clear" color="dark">
          Ver más
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner [hidden]="cars"></ion-spinner>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let car of cars | async">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{car.brand}} {{car.line}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-button type="submit" (click)="authService.SignOut();" expand="block">
    Salir
  </ion-button>

  <ion-button routerLink="/test" routerDirection="forward">
    Pruebas
  </ion-button>
</ion-content>
